node_modules/
dist/
.gradle/
**/build/
**/bin/
**/obj/
android/local.properties
android/app/google-services.json
desktop/.env
firebase/functions/.env
firebase-debug.log
.firebase/
*.log
desktop/release/
desktop/windows/publish/*
!desktop/windows/publish/.gitkeep
